.margin-bottom {
  text-align: center;
  margin-bottom: 10px;
}

.films-wrapper {
  display: flex;

  @media only screen and (max-width: 586px) {
    flex-direction: column;
  }
}

.genres__form {
  // display: flex;
  // flex-direction: column;
}
.genres__input {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.genres__btn {
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.list {
  @include reset-list;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  // height: 90vh;
  // overflow: scroll;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  // height: 500px;
  box-shadow: 0 0 2px 2px #333;
  padding: 10px;
  margin: 15px;
  // overflow: scroll;
}

.span {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 5px;
}
.bold {
  font-weight: bold;
  margin-bottom: 10px;
}
